<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnStr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TimerDb; Integrated Security=True; MultipleActiveResultSets=True; Application Name=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>